frontend/node_modules
frontend/node_modules/*

backend/venv
backend/venv/*

fileservice/node_modules/*
fileservice/node_modules/*

lakeinder-core/node_modules/*
lakeinder-core/node_modules/*

lakeinder-notify/node_modules/*
lakeinder-notify/node_modules/*


prj-lakeinder-venv/*

backend/**/migrations/**
backend/!**/migrations
backend/!**/migrations/__init__.py


sql_service/db/*

./test_pictures